@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

body {
  padding: 0;
  margin: 0;
}

.content {
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #292d3e;
  font-family: "PT Sans", sans-serif;
}

.content p {
  margin: 0;
  line-height: 1.75rem;
  font-size: 1.125rem;
}

.content h1 {
  font-size: 1.5rem;
  margin: 1.5rem 0 0.5rem 0;
}

.content h2 {
  font-size: 1.25rem;
  margin: 1.5rem 0 0.5rem 0;
}

.content h2::before {
  content: "• ";
  color: #5c90ff;
}

.content h1::before {
  content: "# ";
  color: #5c90ff;
}

.content code {
  padding: 0.125rem 0.5rem;
  color: #1c64f2;
  border-radius: 0.25rem;
  font-family: "Fira Code", monospace;
}

.content pre {
  background-color: #292d3e;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  font-size: 1rem;
}

.content pre code {
  color: #efefef;
  padding: 0;
}

.content img {
  width: 100%;
}

.content table {
  margin: 1rem 0;
}

.content table,
.content table tr {
  border: 1px #b0b0b0 solid;
  border-collapse: collapse;
}

.content table tr:nth-child(odd) {
  background-color: #f4f4f4;
}

.content table tr th {
  background-color: #ffffff;
}

.content table th,
.content table td {
  padding: 0.5rem 1rem;
}

.content table td:nth-child(1) {
  text-align: center;
}
