@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

body {
  padding: 0;
  margin: 0;
}

.content {
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #292d3e;
  font-family: "PT Sans", sans-serif;
}

.content p {
  margin: 0;
  line-height: 1.75rem;
  font-size: 1.125rem;
}

.content h1 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
}

.content h1::before {
  content: "# ";
  color: #5c90ff;
}
